<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9KjybS2t2A2h8DN36zUU-8vrTFOuAPjs</string>
	<key>GCM_SENDER_ID</key>
	<string>998224638542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmetcavusoglu2.flutterapp</string>
	<key>PROJECT_ID</key>
	<string>smartzoom-project</string>
	<key>STORAGE_BUCKET</key>
	<string>smartzoom-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998224638542:ios:51aecfe2040ad1b342891f</string>
</dict>
</plist>